body {
    background-color: rgb(105, 88, 98);
}

.col {
    align-content: center;
    text-decoration-line:none;
    height: 100px;
    background-color: #278578;
    width: 100%;
}
p.center{
text-align: center;
}
#empsBtn{
    background-color: rgb(95, 26, 95);
}
#empListLength{
    background-color: rgb(174, 196, 202);
}
